<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PianoKeyBoard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0C6D4CC81D91515E006B69F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C6D4CDC1D915160006B69F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C6D4CE71D915160006B69F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
